#navigation-bar{
    font-size: 20px;
    background-color: rgb(21, 74, 90);
}
.navbar-nav{
    position: relative;
    left: 70%;
}
body{
    background-color: aliceblue;
}
.description{
    position: absolute;
    text-align: center;
    width: 50%;
    left: 25%;
    top: 20%;
    font-style: italic;
} 
.formfill{
    position: absolute;
    top: 120%;
    left: 30%;
    border: 2px black;
}

.footer {
    position: absolute;
    text-align: center;
    width: 30%;
    bottom: 1px;
}


